<div class="show-post-single-container">
    <div class="show-post-single">
        <div class="show-image">
            <img class="image-gray" src="img/Perfil1.png">
        </div>

        <div class="show-post-info">
            <h2>{{user.name}}</h2>
            <h4>{{date}}</h4>
            <p class="show-post-paragraph">{{text}}</p>
            <button class="show-post-btn"><h2>Reaccionar</h2></button>
            <button class="show-post-btn"><h2>Comentar</h2></button>
        </div>
    </div>
    <div class="show-post-option-interaction">
        <div class="show-pos-option">
            <div class="show-option-color blue"></div>
            <div class="show-option-color red" ></div>
            <div class="show-option-color yellow"></div>
            <div class="show-option-color green"></div>
            <div class="show-option-color black"></div>
        </div>
        <div class="show-option-btn">
            <button class="option-btn">Agregar</button>
        </div>
        <div class="show-option-close">X</div>

    </div>

    <div class="show-post-interaction">
        <div class="show-interaction">
            <div class="show-reactions">

            </div>
            <div class="reactions-number">
                <h2>{{reactions.length}}</h2>
            </div>
        </div>


        <div class="comments-number">
            <h3>{{comments.length}} comentarios</h3>
        </div>
    </div>
    <div class="show-post-btn-interaction">
        <button class="reaction-btn"><h2>Reaccionar</h2></button>
        <button class="reaction-btn"><h2>Comentar</h2></button>

    </div>
    <div class="show-post-comments">


    </div>
    <div class="show-post-insert">
        <input placeholder="Escribe un comentario" class="write-comment" type="text">
    </div>
    <br>
</div>
